.terraform*
*.terraform.*
*.terraform
terraform*
override.*
*_override.tf
!terraform.md
rke2*
*.gz
examples/*/install.*
examples/*/sha256sum*
examples/*/tmp
examples/*/rke2
id_ed25519_*
kubeconfig.yaml